<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
   id="WebApp_ID" version="3.1">
   <display-name>_12_JDBCServlet_ServletInitParam</display-name>

   <!-- 컨텍스트 초기화 매개변수(모든 서블릿에서 공유가능) -->
   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/application.properties</param-value>
   </context-param>
   
	<session-config>
	    <session-timeout>30</session-timeout>
	</session-config>

   <!-- 웹 어플리케이션 시작/종료 이벤트 리스너 -->
   <listener>
      <listener-class>web.listener.ContextLoaderListener</listener-class>
   </listener>

   <!-- Servlet 2.4이전에는 '컨텍스트 초기화 매개변수' 다음에 위치해야 한다
        2.4이상부터는 순서에 관계 없다 -->
   <!-- 필터 설정 -->
   <filter>
      <filter-name>CharacterEncodingFilter</filter-name>
      <filter-class>web.filter.CharacterEncodingFilter</filter-class>
      <init-param>
         <param-name>encoding</param-name>
         <param-value>UTF-8</param-value>
      </init-param>
   </filter>
   
   <!-- 모든 주소에 필터를 적용 -->
   <filter-mapping>
      <filter-name>CharacterEncodingFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
   
   <!-- tomcat 서버의 DataSource를 사용하기 위한 설정 -->
   <!-- DataSource설정은 Servers/context.xml에 있음 -->
   <resource-ref>
      <res-ref-name>jdbc/knittingdb</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
   </resource-ref>
   

   <welcome-file-list>
      <welcome-file>index.html</welcome-file>
      <welcome-file>index.htm</welcome-file>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>default.html</welcome-file>
      <welcome-file>default.htm</welcome-file>
      <welcome-file>default.jsp</welcome-file>
   </welcome-file-list>
</web-app>